set daemon 500

defaults

    ssl
    sslcertck
    mda "/usr/bin/env procmail -d %T"

poll imap.gmail.com protocol imap

    # user "" sslcertpath ""

poll pop3.live.com protocol pop3

    # user "" sslcertpath ""

poll imap.aol.com protocol imap

    # user "" sslcertpath ""
