[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
        ignore = all
[submodule "util/LS_COLORS"]
	path = util/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "util/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "util/solarized"]
	path = util/solarized
	url = https://github.com/altercation/solarized.git
[submodule "util/irssi-colors-solarized"]
	path = util/irssi-colors-solarized
	url = https://github.com/huyz/irssi-colors-solarized.git
[submodule ".config/zsh/plugins/zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "util/irssi-notifier"]
	path = util/irssi-notifier
	url = https://github.com/paddykontschak/irssi-notifier.git
