.DS_Store

.irssi/certs/
.irssi/config.autosave
.irssi/sasl.auth
.irssi/saved_nick_colors

.vagrant

.config/nvim/flavors
.config/nvim/sessions
.config/nvim/.netrwhist
.config/nvim/.yankring_history*
.local/share/nvim/bundle
.local/share/nvim/log
.local/share/nvim/shada
.local/share/nvim/undo

.tmux/tmux.conf.local

.config/ansible/vault-password
.config/aws/credentials.ini
.config/bpython/history
.config/configstore/
.config/darktable/
.config/docker/.buildNodeID
.config/docker/config.json
.config/enchant/
.config/fish/fishd.*
.config/gnupg/pubring.kbx*
.config/gnupg/random_seed
.config/gnupg/trustdb.gpg
.config/gnupg/private-keys-*/
.config/gnupg/openpgp-revocs.d/
.config/gtk-2.0/gtkfilechooser.ini
.config/jupyter/lab/workspaces
.config/jupyter/migrated
.config/kaggle/kaggle.json
.config/keepassc/
.config/litecli/history
.config/litecli/log
.config/mlvds/
.config/notmuch/
.config/pip/pip.log
.config/ptpython/history
.config/pudb/saved-breakpoints*
.config/pudb/shell-history
.config/weechat/logs/
.config/weechat/weechat.log
.config/zsh/.zcompdump
.config/zsh/cache
.config/zsh/history
.config/zsh/zshrc.d/

.config/ldap.conf
.config/ldap.credentials

.emacs.d/elpa
.emacs.d/**/*~

.local/bin/
.local/share/gem/
.local/share/great/
.local/share/man/
.local/share/perl5/
.local/share/pip2pi/
.local/share/pypy*/
.local/share/recently-used.xbel
.local/share/virtualenvs/
!.local/share/virtualenvs/**/virtualenvs.toml

.ssh/*
!.ssh/config.d/Configuration

root/etc/nixos/hardware-configuration.nix

*.idx.oft
*.syn.oft
