.DS_Store

.config/pudb/saved-breakpoints
.config/pudb/shell-history

.irssi/sasl.auth
.irssi/config.autosave

.vagrant

.vim/bundle
.vim/sessions
.vim/.netrwhist
.vim/.yankring_history*

.tmux/tmux.conf.local

.zsh/cache

*.pyc
