.DS_Store

.irssi/sasl.auth
.irssi/config.autosave

.vagrant

.vim/bundle
.vim/flavors
.vim/sessions
.vim/.netrwhist
.vim/.yankring_history*

.tmux/tmux.conf.local

.config/bpython/history
.config/fish/fishd.*
.config/gnupg/random_seed
.config/gnupg/trustdb.gpg
.config/notmuch/
.config/pip/pip.log
.config/ptpython/history
.config/pudb/saved-breakpoints*
.config/pudb/shell-history
.config/zsh/.zcompdump
.config/zsh/.zshrc.local
.config/zsh/cache
.config/zsh/history

.emacs.d/elpa
.emacs.d/**/*~

.local/share/virtualenvs
!.local/share/virtualenvs/**/virtualenvs.toml

*.idx.oft
*.syn.oft
