snippet pdb "Insert a trace point in a debugger." !b
import sys; stdout, stderr, sys.stdout, sys.stderr = sys.stdout, sys.stderr, sys.__stdout__, sys.__stderr__; import ${1:pudb}; $1.set_trace(); sys.stdout, sys.stderr = stdout, stderr
endsnippet

snippet test "Test case method" !b
def test_${1}(self):
    ${2:pass}
endsnippet
