name: CI

on:
  push:
  schedule:
    # Daily at 8:11
    - cron: "11 8 * * *"

concurrency:
  group: "dotfiles"
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          persist-credentials: false
      - name: Install packages
        run: brew bundle install
        if: runner.os == 'macOS'
        continue-on-error: true
      - name: Install packages
        run: sudo apt-get install -y zsh
        if: runner.os == 'Linux'
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Bootstrap
        run: uv run ./install
      - name: Converge venvs
        run: uvx venvs converge
        env:
          C_INCLUDE_PATH: /usr/local/include:/usr/local/opt/openssl@1.1/include
          LIBRARY_PATH: /usr/local/lib:/usr/local/opt/openssl@1.1/lib
          PKG_INCLUDE_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
          with_gmp: no
