name: CI

on:
  push:
  schedule:
    # Daily at 8:11
    - cron: "11 8 * * *"

concurrency:
  group: "dotfiles"
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false
      - name: Install packages
        run: brew bundle install
        if: runner.os == 'macOS'
        continue-on-error: true
      - name: Install packages
        run: sudo apt-get install -y zsh
        if: runner.os == 'Linux'
      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
        with:
          enable-cache: false
      - name: Bootstrap
        run: uv run ./install
      - name: Converge venvs
        run: uvx venvs converge
